// Font Import
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

$Lato: 'Lato', sans-serif;
$Nunito: 'Nunito', sans-serif;

// Main colors
$primary-color: #2da77a;
$secondary-color: #ecfaf5;
$black: #1f1f1f;

// Font-sizes
$title: 1.8rem;
$sub-title: 1.3rem;
$text: 1rem;
$label: 0.95rem;
$sub-label: 0.75rem;
$lower-sub-label: 0.55rem;

// Theme Colors
$green: #1fb092;
$light-green: #83ccba;
$light-green-2: #00b292;
$dark-green: #007a64;
$dark-green-2: #209f85;
$dark-green-3: #005342;
$dark-green-4: #01b292;
$blue: #4d5cf0;
$dark: #323232;
$red: #d8534c;
$red-2: #f8524a;
$purple: #a961f5;
$crimson-red: #c56565;
$orange: #dd7d73;
$orange-2: #f27900;
$light-orange: #fead54;
$gray: #7a7a7a;
$gray-2: #7b7b7b;
$dark-gray: #656565;
$light-gray: #efefef;
$light-gray-2: #e6e6e6;
$light-gray-3: #f5f5f5;
$light-gray-4: #696969;
$light-gray-5: #f7f7f7;
$box-shadow-dark: #0000001a;
